.secao-site {
    max-width: 1400px; 
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

main {
    display: flex; 
    flex-direction: column;
    width: 750px;
}

.article-carrossel {
    width: 750px;
    margin-bottom: 50px;
}

.article-carrossel img {
    display: block;
    width: 750px;
}

.descricao-casa {
    width: 750px;
}

.descricao-casa h2{
    color: var(--ouro);
    margin-bottom: 20px;
}

.descricao-casa p {
    text-align: left;

}

aside {
    width: 400px;
    height: 730px;
    position: sticky;
    top: 15px;

}

.aside-infos{
    box-shadow: 0px 0px 1px 1px #00000021;
    /* -webkit-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 6px -3px rgba(0,0,0,0.75); */
    /* border: 1px solid rgba(0, 0, 0, 0.212); */
    border-radius: 5px;
    padding: 10px;   
}

.aside-infos h2 {
    margin-bottom: 5px;
    padding: 0;
    color: var(--ouro);
}

.aside-infos h1 {
    margin-bottom: 25px;
}

.infos-comodos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-bottom: 30px;
}

.infos-precos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.p-infos {
    font-size: 20px;
}

.p-infos-precos {
    font-size: 18px;
}

.preco {
    font-size: 30px;
    font-weight: bold;
}

.numero-infos {
    color: var(--azul-claro);
}

.dimencao-casa {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.dimencao-casa div {
    padding: 0px;
}

.dimencao-casa div p {
    margin: 0;
    color: var(--preto);
}  

.aside-btns {
    margin-top: 20px;
    width: 400px;
    display: grid;
    gap: 10px;
}

.btn-contatos {
    display: block;
    width: 100%;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--azul-claro);
    background-color: transparent;
}

.btn-contatos:hover {
    background-color: var(--azul-claro);
    color: var(--branco);
}

.btn-contatos:last-child {
    background-color: var(--azul-claro);
    color: var(--branco);
}

.financiamento {
    box-shadow: 0px 0px 1px 1px #00000021;
    width: 400px;
    background-color: var(--cinza-claro);
    position: static;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
}

.financiamento h2, p{
    text-align: center;
    color: var(--azul-escuro);
    margin-bottom: 15px;
}

.financiamento button {
    display: block;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--ouro);
    border: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    main {
        width: 600px;
    }

    .article-carrossel {
        width: 600px;
    }

    .article-carrossel img {
        width: 600px;
    }

    aside {
        width: 350px;
    }

    .aside-btns {
        width: 350px;
    }

    .financiamento {
        width: 350px;
    }

    .descricao-casa {
        width: 600px;
    }
}

@media (max-width: 992px) {
    main{
        width: 100%;
    }

    .img-descricao-texto {
        display: flex;
        flex-direction: column;
        gap: 620px;
    }

    aside {
        position: absolute;
        height: 620px;
        top: 510px;
        margin: 0 auto;
    }

    .aside-infos {
        margin: 0 auto;
        padding: 20px 0;
    }

    .article-carrossel {
        width: 100%;
        margin-bottom: 0;
    }
    
    .article-carrossel img {
        display: block;
        width: 100%;
        height: 420px;
        object-fit: cover;
    }

    .descricao-casa {
        width: 90%;
        margin: 0 auto;
    }
    .descricao-casa p, h2 {
        text-align: justify;
    }
    
    .article-carrossel {
        width: 100%;
        margin-bottom: 0;
    }
    
    .article-carrossel img {
        display: block;
        width: 100%;
    }

    .aside-infos, .aside-btns, .financiamento {
        width: 90%;
    }

    .aside-btns{
        margin: 0 auto;
    }

    .financiamento {
        margin: 10px auto;
        margin-bottom: 0;
    }

    .aside-infos {
        border: none;
        box-shadow: none;
    }

    aside {
        padding-top: 0;
        margin-top: 0;
        width: 100%;
    }

    .infos-comodos {
        display: inline-flex;
        gap: 10px;
        margin-bottom: 10px;
    }

    .infos-precos {
        gap: 0;
    }

    .p-infos {
        font-size: 16px;
    }

    .p-infos-precos {
        text-align: left;
    }

    .preco {
        text-align: left;
    }

    .dimencao-casa {
        margin-top: 10px;
        justify-content: flex-start;
    }
}


@media (max-width: 768px) {
    aside {
        top: 440px;
    }

    .img-descricao-texto {
        gap: 620px;
    }

   .article-carrossel {
        width: 100%;
        margin-bottom: 0;
    }

    .article-carrossel img {
        display: block;
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

   .descricao-casa {
       width: 90%;
   }

   .descricao-casa p, h2 {
       text-align: justify;
   } 
} 